<% content_for :title, t("consumable_items.edit_title", name: @consumable_item.name) %>

<div class="page-header">
  <h1 class="page-title"><%= t("consumable_items.edit_title", name: @consumable_item.name) %></h1>
  <%= link_to t("common.back"), consumable_item_path(@consumable_item), class: "btn btn-secondary" %>
</div>

<%= render "form", consumable_item: @consumable_item %>
